{{page-title "Todos"}}

<section class="p-4 h-screen">
  <h1 class="font-bold text-xl">Todos</h1>
  <div class="flex">
    <Todo::Form @addTodo={{this.addTodo}} />
    <button type="button" class="ml-2 p-2 bg-blue-500 text-white" {{on "click" toggleOrientation}}>
      View as Rows
    </button>
  </div>

  <div id="kanban-container" class="flex justify-between items-top mt-4 space-x-4 items-stretch h-full">
    <div class="p-2 bg-gray-200 rounded flex-grow w-1/3">
      <h2 class="text-sm font-bold uppercase mb-2">On Deck</h2>
      <Todo::List>
          {{#each @model.onDeck as |todo| }}
            <Todo::Item @todo={{todo}} @status={{todo.status}}></Todo::Item>
          {{/each}}
      </Todo::List>
    </div>
    <div class="p-2 bg-gray-200 rounded flex-grow w-1/3">
      <h2 class="text-sm font-bold uppercase mb-2">In Progress</h2>
      <Todo::List>
          {{#each @model.inProgress as |todo| }}
            <Todo::Item @todo={{todo}}></Todo::Item>
          {{/each}}
      </Todo::List>
    </div>
    <div class="p-2 bg-gray-200 rounded flex-grow w-1/3">
      <h2 class="text-sm font-bold uppercase mb-2">Done</h2>
      <Todo::List>
          {{#each @model.done as |todo| }}
            <Todo::Item @todo={{todo}}></Todo::Item>
          {{/each}}
      </Todo::List>
    </div>
  </div>
</section>